<div class="header ">
  <div  class="row rowdiv">
   
    <div  class="col-6">


      <h1 style=" font-size:30px; margin-top: .6%; margin-left: 7%; color:blue;"><b>My <span style="color: aliceblue;">Mobs</span></b></h1>
</div>
<div  class="col-3"></div>  
<div style=" text-align: right;"  class="col-3">
  <button style="height: 100%; margin-top: 5px; background-color: brown;" (click)= "onBack()">BACK</button>
</div>         
  

</div> 
 </div> 
    
    
    <div style="height: 100%;" class="row">
     
        <img class="col-6" src={{cached.img}} alt="Photo of a Shiba Inu">
      
      <div class="col-6">
        <div style="margin-top: 30%;" >
          <h1> {{cached.product}}</h1>
        <p >
          {{cached.p}}
        </p>
      </div>
      </div>
</div>


<!-- start toggel -->

<!-- end toggel -->